{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Home
{% endblock %}

{% block css %}
    <style>
        .container{
            margin-top: 2%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container text-center">
        <h1 class="display-4">About</h1>
        <hr>
        <blockquote class="blockquote text-center">
            All for Sports is a Sports equipments manufacturing and selling company.
        </blockquote>
    </div>

{% endblock %}
