{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Dashboard
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/adminDashboard.css' %}">
{% endblock %}


{% block body %}
    {% if request.user.is_superuser or request.user.is_staff %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'create_product' %}">
                        <div class="card" >
                            <img src="{% static 'basic/add.png' %}" class="card-img-top" alt="pic">
                            <div class="card-body">
                                <h4 class="card-title">Create Products</h4>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="col-sm">
                <a href="{% url 'list_product' %}">
                    <div class="card" >
                        <img src="{% static 'adminDashboardPics/Vviewprods.png' %}" class="card-img-top" alt="pic">
                        <div class="card-body">
                            <h4 class="card-title">View Products</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% if request.user.is_staff and not request.user.is_superuser %}
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            {% endif %}
            <div class="col-sm">
                 <a href="{% url 'create_category' %}">
                    <div class="card" >
                        <img src="{% static 'adminDashboardPics/cat.png' %}" class="card-img-top" alt="pic">
                        <div class="card-body">
                            <h4 class="card-title">Create Category</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a href="{% url 'list_category' %}">
                    <div class="card" >
                        <img src="{% static 'adminDashboardPics/catview.png' %}" class="card-img-top" alt="pic">
                        <div class="card-body">
                            <h4 class="card-title">View Category</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% if request.user.is_superuser %}
                <div class="col-sm">
                    <a href="{% url 'create_workforce' %}">
                        <div class="card" >
                            <img src="{% static 'adminDashboardPics/addemployees.png' %}" class="card-img-top" alt="pic">
                            <div class="card-body">
                                <h4 class="card-title">Create Workforce</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="{% url 'workforce_list' %}">
                        <div class="card" >
                            <img src="{% static 'adminDashboardPics/employees.png' %}" class="card-img-top" alt="pic">
                            <div class="card-body">
                                <h4 class="card-title">View Workforce</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}


            </div>

            <br>
            <h3>My Account</h3>
            <hr>

            <div class="row">
                <div class="col-sm"></div>

                <div class="col-sm">
                    <a href="{% url 'workforce_detail' request.user.pk %}">
                        <div class="card" >
                            <img src="{% static 'adminDashboardPics/profile.png' %}" class="card-img-top" alt="pic">
                            <div class="card-body">
                                <h4 class="card-title">View My Account</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm">
                    <a href="{% url 'change_password' %}">
                        <div class="card"  >
                            <img src="{% static 'adminDashboardPics/changePassword.png' %}" class="card-img-top" alt="pic">
                            <div class="card-body">
                                <h4 class="card-title">Reset Password</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    {% endif %}



{% endblock %}